@font-face {
	font-family: 'Coolvetica';
	src: url('coolvetica.otf') format('opentype'), url('coolvetica.ttf') format('truetype'), url('coolvetica.eot') format('embedded-opentype'), url('coolvetica.svg#Coolvetica') format('svg');
}

.container-fluid {
	max-width: 62rem;
}

html {
	font-size: 16px;
}

body {
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	color: #5f0000;
	background: #fef2f2 url("../img/bg-nq8.png") no-repeat top;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

header, .box, .row, .now {
	transition: all 0.5s;
}

#bannerit {
	background: #fff !important;
	text-align: center;
	font-size: 0;
	border-radius: 3px;
}

#bannerit .friend {
	display: inline-block;
	vertical-align: middle;
	margin: 0.5px;
}

#bannerit img {
	display: block;
}

.friends-container {
	margin-top: 0px;
}

.friends-container .box {
	background: white;
}

.friends {
	background: #fff !important;
	padding: 1em !important;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
}

.friends a {
	display: inline-block;
	vertical-align: middle;
}

.friends img {
	display: block;
}

.wide .news {
	margin-right: 33%;
}
.wide .shoutbox {
	margin-top: -10.5em;
	height: 38.5em;
}

.onair {
	text-shadow: 0 0 5px rgb(231,17,0);
	background: rgba(189, 41, 47, 0.43);
	color: #fff;
	float: right;
	border-radius: 3px;
	padding: 0 5px 0 5px;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	min-width: 5em;
	text-align: center;
}

header {
	color: #eee;
	padding: 3px;
}

.disco header {
	background: transparent;
	box-shadow: none;
}
.disco, .disco .now {
	color: #5f0000;
}
.disco .box, .disco .face {
	background: #2d2d2d;
}
.disco .fc-event {
	border-color: #2d2d2d !important;
	background: #000 !important;
}

.fc table {
	font-size: 0.95em;
}

.fc-ltr .fc-time-grid .fc-event-container {
	margin: 0 0.1em 0 0.1em;
}

a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end {
	border: none;
	padding: 0.1em 0.25em;
	background-color: rgba(217, 14, 14, 0.69) !important;
	font-weight: 300;
}

.fc-time {
	font-weight: 800;
}

.disco canvas {
	border-bottom: 2px solid #fff;
}

.disco .ohjelma {
	background-color: #2d2d2d;
}

.disco .active .ohjelma {
	background-color: #2d2d2d;
}
.disco .friends {
	background-color: #2d2d2d !important;
}
.disco .friends img {
	filter: grayscale(1) brightness(0.33);
	-webkit-filter: grayscale(1) brightness(0.33);
}

section {
	margin-top: 1em;
}

.logo img {
	display: block;
	margin: 3em auto 2em;
	position: relative;
}

.iconstack, .iconstack i {
	height: 160px;
	width: 160px;
	line-height: 164px;
	color: rgba(189, 41, 47, 0.43);
	font-size: 150px;
}

#icon {
	color: #fef2f2;
	font-size: .5em;
	transition: all 0.25s ease-in-out;
}

#icon.fa-play {
	margin-left: 7px;
}

#videoplayer {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
}

audio {
	display: none;
}

nav {
	overflow: hidden;
}

nav a {
	white-space: nowrap;
}

.player {
	position: relative;
	height: 160px;
	overflow: hidden;
}

.player img {
	margin-left: -80px;
}

#play {
	font-size: 80px;
	line-height: 80px;
	float: left;
}

#play a {
	color: #fff;
}

#play a:hover #icon {
	text-shadow: 0 0 10px rgb(231,17,0);
}

.now {
	font-family: Open Sans, sans-serif;
	white-space: nowrap;
	margin: 34px -60px 0 0;
	color: #5f0000;
	float: left;
	height: 160px;
	font-size: 0.8em;
}
.now i {
	color: #ab0b0b;
}

.box {
	border-radius: 3px;
	padding: 0;
	background: rgba(255,255,255,0.5);
	align-items: stretch;
}

.menu {
	height: 1.4em;
	line-height: 1.4em;
	letter-spacing: 0.03em;
	margin: 1em 0 0 0;
	font-weight: 400;
	text-transform: uppercase;
}

.menu a {
	color: #ab0b0b;
	text-decoration: none;
	font-size: 0.7em;
	border-left: 1px solid #5f0000;
	padding-left: 0.5em;
	transition: color 0.25s ease-in-out;
}

.menu a:first-child {
	border: none;
}

.menu i {
	font-size: 1.2em;
}

.menu a:hover {
	color: #5f0000;
}

.social {
	float: right;
}

.social i {
	padding: 0 0.25em;
}

h2 {
	margin: 0;
	padding: 0.5em 0.5em 0;
	font-family: Open Sans, sans-serif;
	border-bottom-right-radius: 3px;
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	color: #ab0b0b;
}

.top {
	position: relative;
}

.sivumenu {
	position: absolute;
	top: 0rem;
	margin-left: -3em;
	width: 2em;
	/*transition: all 0.5s ease-in-out;*/
}

.sivumenu.scrolled {
	position: fixed;
	top: 1rem;
}

.sivumenu a, .sivumenu div {
	color: #ab0b0b;
	transition: color 0.25s ease-in-out;
}

.sivumenu a:hover, .sivumenu div:hover {
	color: #5f0000;
}

.sivumenu a {
	font-size: 1.5em;
	display: block;
}

.sivumenu div {
	font-size: 1.2em;
}

.osallistu {
	position: relative;
	line-height: 1.5em;
}

.osallistu, .shoutbox {
	min-height: 448px;
}

.shoutbox {
	height: 448px;
	position: relative;
	overflow: hidden
}

.osallistu strong {
	white-space: nowrap;
}

.osallistu ul {
	margin-bottom: 0;
}

a {
	color: #ab0b0b;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
	font-weight: 400;
}

a:hover {
	color: #000;
}

p {
	padding: 5px 15px;
	text-align: justify;
}

.fc {
	margin: 0 7px 0 0;
}
.fc td,th {
	border: 0 !important;
}
.fc hr {
	display: none !important;
}
.fc .fc-day-header {
	font-family: Open Sans, sans-serif !important;
	font-size: 1.5em;
	white-space: nowrap;
	font-weight: 300;
}
.fc-event .fc-bg {
	background: rgba(0,0,0,0) !important;
}
.fc .fc-event {
	cursor: pointer !important;
	margin: 1.2px 0 !important;
}
.fc .fc-title {
	font-size: .9em !important;
}
.fc td.fc-axis.fc-time {
	display: none;
}

.tldr {
	text-align: center;
	font-size: 3em;
	margin: .8em 0 0 0;
}
.tldr a {
	text-decoration: none;
	color: #ab0b0b;
}

.ohjelmacol, .news .col-xs {
	flex-basis: 360px;
}

.ohjelma {
	height: 12.05em;
	overflow: hidden;
	margin-bottom: 0.5em;
	transition: none;
	font-weight: 400;
}

.ohjelma .kuvaus {
	font-size: 0.75em;
	white-space: pre-wrap;
	text-align: justify;
	padding: 0.5em 1em;
}

.tekijat {
	margin-top: 1em;
}

.active {
	flex-basis: 100%;
	max-width: 100%;
}

.active .ohjelma {
	height: auto;
	min-height: 320px;
}

.active .ohjelma .kuvaus {
	font-size: 1em;
	padding: 2em;
}

.current {
	display: none;
}

.current .ohjelma {
	height: auto;
	cursor: initial;
}

.current .kuvaus {
	font-size: 0.85em;
	padding: 12px;
}

.ohjelma {
	/*border-top-left-radius: 0 !important;*/
	cursor: pointer;
}

#face {
	cursor: pointer;
}

.ohjelma img, #face {
	float: right;
	border-radius: 3px;
	margin: 0 0.5em;
	height: 160px;
	width: auto;
}

.active .ohjelma h2 {
	font-size: 1.5em;
}

.active .ohjelma img {
	margin: 1em 1em 0;
	height: 100vh;
	max-height: 500px;
	width: auto;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.current img {
	width: 240px;
	height: 240px;
}

.ohjelma h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	letter-spacing: 0.12px;
	font-size: 1.1em
}

#ohjelmakartta {
	padding-bottom: 4px;
}

h3 {
	font-family: Open Sans, sans-serif;
	font-weight: normal;
}

footer {
	background: rgba(255,255,255,0.5);
	overflow: hidden;
	margin-top: 2em;
}



@media (max-width: 64em) {
	.tldr {
		font-size: 2em;
	}
	.osallistu {
		line-height: 1.35em;
	}
}

@media (max-width: 48em) {
	.col-xs, .col-xs-8, .col-xs-4 {
		width: 100%;
		max-width: 100%;
		display: block;
	}
	.row {
		display: block;
	}
	.shoutbox {
		margin-top: 15px;
	}
	.active .ohjelma img {
		height: 320px;
	}
	.active .ohjelma .kuvaus {
		font-size: 0.8em;
	}
}



a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	font-size: 0.75rem;
	padding: 10px;
	position: absolute;
	width:200px;
	color: #fef2f2;
	background: #5f0000;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #5f0000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	visibility: visible;
	opacity: 1.0;
	bottom: 62px;
	left: 50%;
	margin-left: -110px;
	z-index: 1;
}
a:hover.tooltips {
	color: #5f0000;
}




.bitdash-ctxt-menu, figure > div:first-of-type, .bitdash-btn-overlay {
	display: none !important;
}
.bitdash-prog-bar-play, .bitdash-vol-bar-change {
	background-color: rgb(231,17,0) !important;
}
#videoplayer, .bitdash-vc, .bitdash-ctrl-w, video {
	border-radius: 3px;
}


#nick, #text {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 2em;
	line-height: 2em;
	box-sizing: border-box;
	border: 0;
	background: rgba(255, 255, 255, 0.75);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-sizing: border-box;
	padding: 0 0.5em;
}
.msg {
	background: rgba(0,0,0,0.05);
	margin: 2px;
	border-radius: 3px;
}
.nick {
	font-weight: bold;
}
.time {
	float: right;
	font-size: 0.7em;
	padding: 2px 9px 0 0;
}
#text {
	display: none;
}
#shoutbox {
	font-size: 0.85em;
	width: 100%;
	display: flex;
	flex-flow: column;
	overflow: auto;
	position: absolute;
	bottom: 0;
        margin-bottom: 2rem;
        margin-top: -2rem;
	box-sizing: border-box;
}




.news p {
	font-size: 0.85em;
	margin: 0;
	padding: 0;
}
.news p ~ p, .news h2 ~ p {
	padding: 5px 15px;
	margin: 10px 0;
}
.news .col-xs {
	display: flex;
}
.news .box {
	flex-grow: 1;
	margin-bottom: 0.5em;
}
.news img {
	display: block;
	float: right;
	border-radius: 3px;
	margin-left: 1em;
	max-height: 160px;
}


.week {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Open Sans, sans-serif;
	display: block;
	color: #ab0b0b;
	transition: color 0.25s ease-in-out;
	margin: 0.5em 0 1em;
}
.week:hover {
	color: #5f0000;
}
.box.card {
	background: transparent !important;
}
.card_container {
	position: relative;
	z-index: 1;
	perspective: 2000px;
	height: 654px;
	width: 100%;
}
.card {
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}
.card_container .card.flip {
	margin-left: -1400px;
}
.card.flip .face {
	opacity: 0;
}
.card.flip .face.back {
	opacity: 1;
}
.face {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	border-radius: 3px;
	transition: all 0.5s;
}
.face.back {
	opacity: 0;
	display: block;
	margin-left: 1400px;	
}

#volume.dragdealer {
	cursor: pointer;
	width: 30px;
	height: 150px;
	border-radius: 16px;
	background: rgba(171,11,11,0.05);
	transition: background 0.25s ease-in-out;
}

#volume.dragdealer:hover, #volume.dragdealer.active {
	background: rgba(171,11,11,0.25);
}

.insta {
	text-align: center;
}

.fb-like-box, .fb-like-box span, .fb-like-box iframe, .twitter-timeline, .timeline, .insta {
        width: 100% !important;
        background: #fff !important;
        border-radius: 3px;
        height: 500px!important;
	text-align: center;
	
}       

@media(max-width:540px){ .fc .fc-day-header{font-size:0.8em;}}
